.btn2{
    width: 150px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    background-color:greenyellow;
    color: black;
}

body{
    background-image: url("15.jpg");
}
#btn{
    background-color: red;
    width: 70px;
    height: 50px;
}